
name: Run Gradle

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 16
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 16
      - name: Setup
        run: chmod +x gradlew && ./gradlew init
      - name: Patch
        run: python3 build.py . patches
      - name: Build with Gradle
        run: chmod +x gradlew && ./gradlew build
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: build/libs/Papyrus-1.0-SNAPSHOT_mc-1.12.jar